mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  padding: 0.5rem;
}

main {
  max-width: 1366px;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
  border-radius: 8px;
}

mat-nav-list {
  padding: 0;
}

mat-sidenav.expanded {
  width: 240px;
}

#expand-sidenav {
  bottom: 0;
  position: absolute;
  padding-right: 40px;
}

#expand-sidenav mat-icon {
  transition: all 300ms;
  margin-left: 100%;
}

mat-icon.rotated {
  transform: rotate(180deg);
}

mat-icon {
  margin-right: 0 !important;
}

a {
  margin-left: 16px;
}
